@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,300&display=swap');

/* font-family: 'Raleway', sans-serif; */

/* :root {
    --main-color: #DAFFFF;
    --second-color: #D7EDE5;
    --third-color: #92F3CE;
    --fourth-color: #5CBE7D;
} */
:root{
    --main-color: #343954;
    --second-color: black;
    --third-color: #92F3CE;
    --fourth-color: #5CBE7D;
}

h1,h2,h4,h5{
    font-family: raleway;
}
* {
    margin: 0;
    padding: 0;
}

